<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.mybankwebapp.revature</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
 <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.mybankwebapp.sevlets.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustLoginServlet</display-name>
    <servlet-name>CustLogin</servlet-name>
    <servlet-class>com.mybankwebapp.servlets.CustLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustLogin</servlet-name>
    <url-pattern>/CustLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginS</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.mybankwebapp.servlets.EmployeeLoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionsDeposit</display-name>
    <servlet-name>TransactionsDeposit</servlet-name>
    <servlet-class>com.mybankwebapp.servlets.TransactionsDeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionsDeposit</servlet-name>
    <url-pattern>/TransactionsDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawAmount</display-name>
    <servlet-name>WithdrawAmount</servlet-name>
    <servlet-class>com.mybankwebapp.servlets.WithdrawAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawAmount</servlet-name>
    <url-pattern>/WithdrawAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBalance</display-name>
    <servlet-name>ViewBalance</servlet-name>
    <servlet-class>com.mybankwebapp.servlets.ViewBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBalance</servlet-name>
    <url-pattern>/ViewBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferAmount</display-name>
    <servlet-name>TransferAmount</servlet-name>
    <servlet-class>com.mybankwebapp.servlets.TransferAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferAmount</servlet-name>
    <url-pattern>/TransferAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeCustomerDetails</display-name>
    <servlet-name>EmployeeCustomerDetails</servlet-name>
    <servlet-class>com.mybankwebapp.servlets.EmployeeCustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeCustomerDetails</servlet-name>
    <url-pattern>/EmployeeCustomerDetails/*</url-pattern>
  </servlet-mapping>
</web-app>